.movieDisplayContainer {
    margin: 8px;
    width: 50%;
    height: 700px;
    border-style: solid;
    border-color: rgb(234, 234, 252);
}

.bannerInfoContainer {
    margin: 8px;
    height: 360px;
    width: 100%;
    display: flex;
}

.imageInfoContainer {
    height: 360px;
    width: 240px;
    border-style: solid;
    border-color: rgb(234, 234, 252);
}

.MovieInfoContainer {
    margin: 8px;
    margin-top: 0px;
    align-content: left;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.textInfoContainer {
    display: block;
}

.synopsisContainer {
    margin: 8px;
    text-align: left;
}
