.movieContainer {
    margin: 8px;
    display: flex;
    text-align: left;
    vertical-align: middle;
}

.bannerContainer {
    margin: 8px;
    height: 96px;
    width: 66px;
    background-color: #c4d6ee;
}

.imageContainer {
    height: 96px;
    width: 66px;
    border-style: solid;
    border-color: rgb(215, 215, 252);
}
.infoContainer {
    margin: 8px;
}

.MovieListContainer {
    margin: 8px;
}

.SectionContainer {
    margin: 8px;
    text-align: left;
    width: 50%;
}

.resultsTitle {
    margin: 8px;
    margin-left: 24px;
}

.textContainer {
    display: block;
    cursor: pointer;
}

.pageChangeContainer {
    margin: 8px;
    display: flex;
}

#pageArrow {
    cursor: pointer;
}

.totalPages {
    margin: 8px;
}
